:root {
    --main-color: #1F2B46;
    --light-main: #2D3C5A;
    --secondary-color: #1e556f;
    --tertiary-color: #DEB841;
}

hr {
    width: 40%;
}

.title {
    text-align: left;
    margin: 40px 0% 40px 0%;
    padding-left: 2%;
    font-size: 2.3vw;
    float: inline-start;
    border-left: solid 2px var(--tertiary-color);
    line-height: 250%;
}

.title h1,
h4 {
    color: white;
}

.main_content {
    display: inline-block;
    padding: 9% 10%;
    width: 80%;
}

.general_info {
    background-color: white;
    text-align: center;
    padding: 3% 0% 7% 0%;
}

.general_info p {
    padding-left: 10%;
    padding-right: 10%;
    width: 40%;
    margin: 7px 7px;
}

.general_info_text {
    display: flex;
    justify-content: center;
}

#general_info_sec_1 {
    padding-top: 3%;
    padding-bottom: 0%;
}

#general_info_sec_2 {
    padding-top: 0px;
    padding-bottom: 3%;
}

#services_button {
    background-color: white;
    border: solid 2px var(--secondary-color);
    transition: 0.5s ease-in-out;
    color: var(--secondary-color);
    width: 286px;
    height: 52px;
}

#services_button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.image {
    width: 60%;
    float: inline-end;
    padding: 0%;
    display: flex;
    justify-content: center;
}

#brad_friesen_home {
    width: 80%;
    /* text-align: center; */
    float: right;
}

ul {
    color: #dfdfdf;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
    .main_content {
        width: 80%;
        padding: 0%;
    }

    .title {
        font-size: 3.5vw;
        width: 30%;
        margin: 15px 9%;
        padding-left: 5%;
    }

    .image {
        width: 100%;
        text-align: center;
    }

    .image img {
        width: 100%;
    }

    .general_info p {
        width: 90%;
        padding: 0 5%;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3.5vw;
        text-align: left;
    }

    .general_info p {
        font-size: 16px;
    }

    #services_button {
        margin-top: 20px;
    }

}

@media screen and (max-width: 480px) {
    .title {
        font-size: 6vw;

    }

    .general_info p {
        font-size: 16px;
    }

    #services_button {
        width: 100%;
    }

    .main_content {
        width: 100%;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

}

/* adjust padding so content is centred in viewport */
@media (max-height: 685px) {
    .main_content {
        padding: 6% 10%;
    }
}