:root {
    --main-color: #1F2B46;
    --light-main: #2D3C5A;
    --secondary-color: #1e556f;
    --tertiary-color: #DEB841;
}

.stack-flex {
    display: flex;
    width: 100%;
}

.main_content {
    padding: 3% 10%;
    color: #dedede;
    width: 100%;
}

.title_contact_container {
    border-bottom: solid 2px var(--tertiary-color);
}

img {
    width: 100%;
}

.about_office {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 10% 20% 10%;
}

.about_office_image {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.about_office_text {
    width: 35%;
    color: #dedede;
    font-weight: 100;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#about_office_list_options ul {
    text-align: left;
}

.subheading-inner-text {
    padding: 5%;
}

.map_container {
    position: relative;
    display: flex;
    align-items: center;
}

.map_image_container {
    position: absolute;
    width: 100%;
}

#map_img {
    height: max-content;
}

.map_text_container {
    position: relative;
    z-index: 1;
    padding: 5% 10%;
    background-color: var(--main-color);
    border-radius: 15px;
}

#map_title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10%;
}

#map_title h2 {
    margin: 0%;
    color: var(--tertiary-color);
    font-size: 2.0rem;
}

#contact_details ul {
    list-style: none;
    text-align: center;
    color: #dedede;
    margin: 0%;
    padding-top: 10%;
    padding-left: 0%;
}

#contact_location_icon {
    float: right;
    transform: scale(2, 2);
    margin-top: 8px;
}

#contact-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.contact-block {
    background-color: var(--light-main);
    width: 15%;
    justify-content: center;
    text-align: center;
    padding: 10% 5%;
    margin: 100px 0px;
    border-radius: 5%;
    transition: box-shadow 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;
}

.icon-container {
    position: absolute;
    top: -60px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-block:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.contact_option_container {
    position: relative;
}

.contact_icon {
    width: 60%;
    border: none;
    outline: none;
    box-shadow: none;
}

.contact_option_heading {
    font-size: clamp(18px, 4.5vw, 35px);
    font-weight: 550;
    margin: 40px 0px 10px 0px;
    padding: 0%;
}

.contact_option_info {
    font-size: clamp(16px, 4vw, 25px);
    font-weight: 400;
    margin: 0%;
}

/* Adjust for when phone and fax numbers take up a new line. Ensures all rectangles are the same height */
@media (max-width: 1422px) {
    .contact-block {
        width: 20%;
    }
}


/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
    .about_office {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 40px 0px 60px 0px;
        padding: 40px 20px;
    }

    .about_office_image {
        width: 80%;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .about_office_text {
        width: 80%;
        text-align: center;
    }

    #contact-container {
        flex-direction: column;
    }

    .contact-block {
        width: 80%;
        margin: 40px;
    }

    .title_contact_container {
        margin-bottom: 40px;
    }

    .stack-flex {
        flex-direction: column;
        align-items: center;
        margin: 0%;
        width: 90%;
        padding: 40px 40px;
    }
}

@media (max-width: 509px) {
    #map_img {
        height: 200px !important;
    }

    .contact_icon {
        width: 47%;
    }

    .stack-flex {
        width: 80%;
    }

    .about_office {
        margin-top: 0%;
    }
}

/* adjust padding so content is centred in viewport */
@media (max-height: 685px) {
    .main_content {
        padding: 0% 10%;
    }
}