:root {
    --main-color: #1F2B46;
    --light-main: #2D3C5A;
    --secondary-color: #1e556f;
    --tertiary-color: #DEB841;
}

hr {
    width: 40%;
}

.title {
    text-align: left;
    margin: 40px 0% 40px 10%;
    padding-left: 2%;
    font-size: 2.3vw;
    /* width: 30%; */
    float: inline-start;
    border-left: solid 2px var(--tertiary-color);
    line-height: 250%;
}

.title h1,
h4 {
    color: white;
}

.main_content {
    display: inline-block;
    margin: 9% 0%;
    width: 100%;
}

.general_info {
    background-color: white;
    text-align: center;
    padding: 4% 0% 4% 0%;
}

.general_info p {
    padding-left: 10%;
    padding-right: 10%;
    width: 40%;
    margin: 7px 7px;
}

.general_info_text {
    display: flex;
    justify-content: center;
}

#general_info_sec_1 {
    padding-top: 3%;
    padding-bottom: 0%;
}

#general_info_sec_2 {
    padding-top: 0px;
    padding-bottom: 3%;
}

#services_button {
    background-color: white;
    border: solid 2px var(--secondary-color);
    transition: 0.5s ease-in-out;
    color: var(--secondary-color);
    width: 286px;
    height: 52px;
    position: absolute;
}

#services_button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.image {
    width: 50%;
    float: inline-end;
    margin: 0% 2%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

#brad_friesen_home {
    width: 80%;
    /* text-align: center; */
    float: right;
}

ul {
    color: #dfdfdf;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--main-color);
    color: #d9d9d9;
}

.footer-section {
    flex: 1;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#contact-me {
    text-align: left;
}

#contact-details {
    display: flex;
    align-items: center;
}

#contact_list {
    text-align: right;
}

#location-details {
    display: flex;
    align-items: center;
    text-align: left;
}

#location-icon {
    margin-right: 10px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
    .title {
        font-size: 3.5vw;
        width: 30%;
        margin: 15px 8%;
        padding-left: 5%;
    }

    .image {
        width: 100%;
        text-align: center;
    }

    .image img {
        width: 70%;
    }

    .general_info p {
        width: 90%;
        padding: 0 5%;
    }

    #services_button {
        width: 40%;
        position: static;
        margin: 20px auto;
    }

    #contact_me {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3.5vw;
        text-align: left;
        margin: 15px 8%;
    }

    .image img {
        width: 80%;
    }

    .general_info p {
        font-size: 16px;
    }

    #services_button {
        width: 50%;
    }

    .footer-section {
        justify-content: center;
        padding: 10px;
        align-items: center;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
    }

    #location-details {
        padding-left: 70px;
    }

}

@media screen and (max-width: 480px) {
    #logo li {
        font-size: 5vw;
    }

    .title {
        font-size: 6vw;

    }

    .general_info p {
        font-size: 16px;
    }
}