:root {
    --main-color: #1F2B46;
    --light-main: #2D3C5A;
    --secondary-color: #1e556f;
    --tertiary-color: #DEB841;
}

img {
    width: 300px;
}

.about_brad {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 10% 10%;
}

.about_image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.about_brad_text {
    width: 60%;
    color: #dedede;
    font-weight: 100;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.sub_content .sub_content_heading {
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.sub_content_text_container {
    padding: 7% 5%;
}

.sub_content_text_container * {
    padding: 0%;
    margin: 0%;
}

.content p {
    width: 50%;
}

#commitment {
    background-color: #F0EFEF;
}

#bc-based {
    background-color: var(--secondary-color);
    color: #F0EFEF;
}

#contact {
    width: 30%;
    padding-top: 3%;
    text-align: center;
    color: #F0EFEF;
}

.center_content {
    display: flex;
    justify-content: center;
}

.button_container {
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}

#contact_me_button {
    background-color: var(--main-color);
    color: var(--tertiary-color);
    border: solid 2px var(--tertiary-color);
    transition: 0.5s ease-in-out;
    width: 286px;
    height: 52px;
    margin-bottom: 20%;
}

#contact_me_button:hover {
    background-color: var(--tertiary-color);
    color: var(--main-color);
}

#sub_content_line {
    position: absolute;
    z-index: 2;
    width: 80%;
    height: 100%;
    left: 50px;
    border-left: solid 2px #DEB841;
}

#line_and_text_container {
    position: relative;
}

.about_sections {
    position: relative;
    z-index: 1;
}

.contact-me {
    position: relative;
    z-index: 3;
}


/* Media query for screens larger than 1024px */
@media (min-width: 1024px) {
    .about_brad {
        flex-wrap: nowrap;
    }
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
    .about_brad {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0% 0%;
        padding: 60px 20px;
    }

    .about_image {
        width: 60%;
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .about_brad_text {
        width: 100%;
        text-align: center;
    }

    .sub_content_text_container {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
}

/* Media query for screens smaller than 509px */
@media (max-width: 509px) {
    .button_container {
        display: flex;
        justify-content: center;
    }

    #contact_me_button {
        width: 100%;
    }

    img {
        width: 90%;
    }

    #sub_content_line {
        left: 30px;
    }
}

/* adjust padding so content is centred in viewport */
@media (max-height: 685px) {
    .about_brad {
        padding: 6% 10%;
        width: 100%;
    }
}