:root {
    --main-color: #1F2B46;
    --light-main: #2D3C5A;
    --secondary-color: #1e556f;
    --tertiary-color: #DEB841;
}

.services_title {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 13% 10%;
}

img {
    width: 80%;
}

.services_image {
    width: 55%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services_text {
    width: 50%;
    color: #dedede;
    font-weight: 100;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

#areas_of_practice_button {
    background-color: var(--light-main);
    border: 1px solid var(--tertiary-color);
    outline: none;
    color: var(--tertiary-color);
    transition: 0.5s ease-in-out;
}

#areas_of_practice_button:hover {
    background-color: var(--tertiary-color);
    color: var(--light-main);
}

#services_grid {
    display: grid;
    grid-template: auto / 100%;
    text-align: center;
    padding: 7%;
    gap: 25px;
    perspective: 1000px;
    background-color: var(--secondary-color);
    color: #d9d9d9;
}

.services_description {
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#services_grid .grid_square {
    background-color: var(--main-color);
    padding: 4%;
    border-radius: 5px;
    transition: transform 1s ease, box-shadow 1s ease;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    width: 40%;
    height: 70%;
}

#services_grid .grid_square:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}


#services_grid ul {
    list-style: none;
}

#services_grid h2 {
    padding-bottom: 2%;
    margin-bottom: 0%;
    border-bottom: solid 0.5px var(--tertiary-color);
}

@media (min-width: 1522px) {
    #services_grid .grid_square {
        height: 60%;
    }
}

/* Media query for screens larger than 1024px */
@media (min-width: 1024px) {
    .services_title {
        flex-wrap: nowrap;
        align-items: stretch;
    }
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
    .services_title {
        flex-direction: column;
        align-items: center;
        margin: 0%;
        width: 100%;
        padding: 80px 20px;
    }

    .services_image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .services_text {
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
    }

    #services_grid .grid_square {
        height: 80%;
    }
}

@media (max-width: 708px) {
    .row {
        flex-direction: column;
    }

    #services_grid .grid_square {
        height: 80%;
        width: 80%;
        margin: 10px;
    }

    #services_grid {
        gap: 0px;
    }
}

/* Media query for screens smaller than 509px */
@media (max-width: 509px) {
    #areas_of_practice_button {
        width: 100%;
    }
}