html {
    scroll-behavior: smooth;
}

body {
    background-color: #1F2B46;
    font-size: 16px;
}

nav { 
    display: flex;
}

#nav_bar li, ul{
    padding: 0px 20px;
    display: inline;
}

#nav_bar ul {
    list-style: none;
    text-align: center;
}

img {
    /* box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 7px 7px 0px rgba(222, 184, 65, 1); */
    box-shadow: 7px 7px 8px rgb(17, 22, 37);
}

a:link { 
    text-decoration: none; 
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.nav_option:hover {
    color: white;
}

.nav_option {
    color: #DEB841;
    font-weight: 300;
    font-size: large;
    margin-bottom: 10px;
}

.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #DEB841;
}

.header {
    /* font-size: 2.5vw; */
    font-size: clamp(20px, 4.5vw, 27px);;
    font-weight: 520;
    margin-top: 0%;
}

.sub-text {
    font-size: clamp(16px, 4vw, 22px);
    font-weight: 400;
}

.sub_content_heading {
    font-size: 1.7vw;
    font-weight: 550;
}

.image_container {
    display: flex;
    justify-content: center;
}

.button {
    margin: 20px;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: clamp(12px, 4vw, 16px);
    transition: transform 1s ease;
}


.align_left {
    float: left;
    text-align: left;
}

.align_right {
    float: right;
    text-align: right;
}

.footer li{
    list-style: none;
}

.contact_table {
    width: 100%;
}

#logo {
    display: flex;
    flex-direction: column;
    float: left;
    padding-top: 0px;
    color: white;
}

#logo_name {
    font-size: 30px;
}

#logo_descr {
    font-size: 23px;
}

#contact_list{
    float: right;
}

#contact_list li{
    color: #DEB841;
}

#contact-me {
    text-align: center;
    font-size: clamp(12px, 4vw, 25px);
    padding: 20px;
    width: 35%;
    color: white;
}

#contact-me h4 {
    padding-bottom: 10px;
    border-bottom: 2px solid #DEB841;
}

#location_icon {
    transform: scale(2.5, 2.5);
}

.center_content {
    display: flex;
    justify-content: center;
}