.services_title {
    box-sizing: border-box;
    display: inline-block;
    margin: 10% 15%;
    height: 49vh;
}

.services_image {
    float: inline-end;
    width: 60%;
    /* justify-content: center;
    display: flex; */
}

.services_text {
    width: 33.3%;
    float: left;
    color: #dedede;
    font-weight: 100;
    /* text-align: center; */
}

img {
    width: 80%;
    float: right;
}

#areas_of_practice_button {
    background-color: #366E88;
    border:1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    color: #dedede;
    width: 286px;
    height: 52px;
    position: absolute;
}

.button_border {
    position: absolute;
    left: 0%;
    top: 0%;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 285 800;
    stroke-dashoffset: 285;
    transition: 1.2s ease-in-out;
  }

  #areas_of_practice_button:hover {
    transition: 1s ease-in-out;
  }
  
  #areas_of_practice_button:hover svg {
    stroke-dashoffset: -800;
  }

#services_grid {
    display: grid;
    grid-template: auto auto / 50% 50%;
    text-align: center;
    padding: 7%;
    gap: 20px;
}

#services_grid > div {
    /* background-color: #D9D9D9; */
    background-color: rgba(217, 217, 217, 1);
    color: #121212;
    /* border: solid 10px #366E88; */
    padding: 4%;
    border-radius: 5px;
}

#services_grid > li{
    color: #121212;
}

#services_grid ul {
    list-style: none;
}

#services_grid h2 {
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.teal_footer{
    background-color: #366E88;
    color: #D9D9D9
}