.fees_title {
    box-sizing: border-box;
    display: inline-block;
    margin: 10% 15%;
    height: 51vh;
}

.fees_image {
    float: inline-end;
    width: 60%;
    /* justify-content: center;
    display: flex; */
}

.fees_text {
    width: 30%;
    float: left;
    color: #dedede;
    font-weight: 100;
}

img {
    width: 50%;
    float: right;
}

.sub_content .sub_content_heading {
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#sub_content_text_container {
    padding: 4%;
}

#sub_content_text_container * {
    padding: 0%;
    margin: 0%;
}

.content p {
    width: 50%;
}

#commitment {
    background-color: #F0EFEF;
}

#bc-based {
    background-color: #366E88;
    color: #F0EFEF;
}

.center_content {
    display: flex;
    justify-content: center;
}

#sub_content_line {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 50px;
    border-left: solid 2px #DEB841;
}

#line_and_text_container {
    position: relative;
}

.about_sections {
    position: relative;
    z-index: 1;
}

ul {
    color: #dedede;
}

#links_grid {
    display: grid;
    grid-template: auto / 20% 20%;
    margin: 3% 0% 0% 0%;
    gap: 3%;
    line-height: 150%;
}

a {
    color: #dedede;
    font-size: clamp(15px, 4vw, 20px);
}


#contact_button {
    background-color: #366E88;
    border:1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    color: #dedede;
    width: 286px;
    height: 52px;
    position: absolute;
}

.button_border {
    position: absolute;
    left: 0%;
    top: 0%;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 285 800;
    stroke-dashoffset: 285;
    transition: 1.2s ease-in-out;
  }

  #contact_button:hover {
    transition: 1s ease-in-out;
  }
  
#contact_button:hover svg {
    stroke-dashoffset: -800;
  }