body {
    background-color: #1F2B46;
}

nav { 
    display: flex;
}

nav li, ul{
    list-style: none;
    text-align: center;
    padding: 0px 16px;
    display: inline;
}

nav li:active{
    border-bottom: #DEB841;
    border-width: 2px;
}

hr {
    width: 40%;
}

footer {
    margin: 20px;
}

.title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: xx-large;
}

.title h1, h4, li {
    color: white;
}

.image_container {
    display: flex;
    justify-content: center;
}

.general_info {
    background-color: white;
    text-align: center;
}

.nav_option {
    color: #DEB841;
    font-weight: 300;
    font-size: large;
}

.general_info p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: large;
    width: 40%;
    margin: 7px 7px;
}

.general_info_text {
    display: flex;
    justify-content: center;
}

.footer li{
    list-style: none;
}

.align_left {
    float: left;
    text-align: left;
}

#general_info_sec_1 {
    padding-top: 2%;
    padding-bottom: 2px;
}

#general_info_sec_2 {
    padding-top: 0px;
    padding-bottom: 2px;
}

#services_button {
    margin: 20px;
    background-color: #1F2B46;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: medium;
}

#logo {
    display: flex;
    flex-direction: column;
    float: left;
    padding-top: 0px;
}

#logo_name {
    font-size: 30px;
}

#logo_descr {
    font-size: 23px;
}

#contact_table {
    width: 100%;
}

#contact_list {
    float: right;
}

#brad_friesen_home {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
