.main_content {
    margin: 10% 15%;   
    color: #dedede;
}

.title_contact_container {
    border-bottom: solid 2px #DEB841;;
}

img {
    width: 70%;
}

.about_office {
    /* width: 75%; */
    box-sizing: border-box;
    display: inline-block;
    margin: 10% 10%;
    height: 51vh;
}

.contact_image {
    width: 60%;
    float: left;
    justify-content: center;
    display: flex;
}

.about_office_text {
    width: 30%;
    float: left;
    color: #dedede;
    font-weight: 100;
}