body {
    background-color: #1F2B46;
}

nav { 
    display: flex;
}

nav li, ul{
    color: white;
    list-style: none;
    text-align: center;
    padding: 14px 16px;
    display: inline;
}

.title {
    padding-left: 20%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.title h1, h4, li {
    color: white;
}


.general_info {
    background-color: white;
    text-align: center;
}

.general_info p{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.footer li{
    list-style: none;
}

.align_left {
    float: left;
    text-align: left;
}

#services_button {
    margin: 10px;
    background-color: #1F2B46;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

#logo {
    display: flex;
    flex-direction: column;
    float: left;
    padding-top: 0px;
}

#logo li {
    padding: 0%;
}

#contact_table {
    width: 100%;
}

#contact_list {
    float: right;
}
